html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
}

footer {
  border-top: 1px solid lightgray;
  margin-top: 20px;
  padding: 8px 0;
}

.navbar .navbar-brand img {
  margin-right: 5px;
}

#top-message {
  margin: 10px 0 15px;
}

.input-field-container {
  margin-top: 20px;
}

.input-field-container .submit {
  margin-top: 10px;
}

.context-settings-title {
  display: inline-block;
}

.context-title {
  display: inline-block;
}

.result-field-container {
  margin-top: 20px;
}

.result-field-container .result-field-content {
  margin-top: 15px;
}

.CodeMirror {
  border: 1px solid lightgray;
}

.CodeMirror .CodeMirror-placeholder {
  color: gray;
}

.statement-editor .CodeMirror {
  height: 390px;
}

.statement-editor .is-invalid .CodeMirror {
  border-color: #df382c;
}

.context-editor .CodeMirror {
  height: 300px;
}

.context-editor .is-invalid .CodeMirror {
  border-color: #df382c;
}
